ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.left{
	float: left;

}

.right{
	float: right;
}

.middle{
	display: block;
    height: 100px
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: 480px;
}



li a {
    font-family: Arial;
    font-size: 13px;	
    display: block;
    color: #686868;
    padding: 14px 10px;
    text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    border: 1px #e3e3e3;
    box-shadow: 1px 2px 4px 2px #e3e3e3;
    width: 38%;
    float: right;
    padding: 10px;
    margin-top: 25px;
    margin-right: 370px;
    font-size: 17px;
}

.search input[type=text] {
    border: none;
    background-color: #e3e3e3;
    width: 10%;
    float: right;
    padding: 9px;
    margin-top: 25px;
    margin-left: 375px; 
    margin-right: 15px; 
    font-size: 12px;
}

.lucky input[type=text] {
    border: none;
    background-color: #e3e3e3;
    width: 10%;
    float: right;
    padding: 9px;
    margin-top: 25px;
    margin-right: 470px;
    font-size: 12px;
}

#bottom{
	border-style: solid;
	border-color: #e1e1e1;
	background: #e1e1e1;
	color: black;
    position: fixed;
    width: 100%;
    margin-left: -11px;
    bottom: 0px;
}

#canada{
	border-style: thin;
	border-color: grey;
	background: #e1e1e1;
	color: black;
    position: fixed;
    width: 100%;
    margin-left: -8px;
    bottom: 48px;